.todolist {
    display: inline-block;
    border-radius: 1em;
    box-shadow: 0 10px 12px rgba($color: #000000, $alpha: .2);
    background-color: rgba($color: #000000, $alpha: .03);
    color: rgba($color: #000000, $alpha: .7);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    &__item{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        border-radius: 2em;
        box-shadow: 0 0px 12px rgba($color: #000000, $alpha: .2);
        background-color: white;
        padding: 16px;
    }

    &__checkbox{
        display: none;

        &:checked {
            + .todolist__tick:before {
                color: rgba($color: #FFF, $alpha: 0.8);
                content: "✔";
            }

            + .todolist__tick {
                background-color: rgba($color: rgb(11, 157, 214), $alpha: 0.5);
                border: 2px solid rgba($color: #000000, $alpha: 0.0);
            }
        }
    }

    &__tick {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid rgba($color: #000000, $alpha: 0.1);
        cursor: pointer;
        width: 1em;
        height: 1em;

        &:hover{
            background-color: rgba($color: #000, $alpha: 0.1);
        }
    }

    &__text {
        margin: 0;
        padding-left: 12px;
    }
}